.navbar-light {
    .navbar-nav {
        font-size: 20px;
        .nav-link.active {
            color: nth($colours, 5);

        }

        .nav-link {
            color: nth($colours, 1);

            &:hover {
                color: nth($colours, 5);

            }
            &:not(:hover){
                color: nth($colours, 1);
        
                }
        }
    }

    .navbar-brand {
        color: nth($colours, 1);
        font-size: 30px;
        margin: 0;
        padding: 0;
        &:hover{
            color: nth($colours, 2);

        }
        &:not(:hover){
        color: nth($colours, 1);

        }
    }
}