.navbar-light {
    .navbar-nav {
        height: 50px;

        font-size: 20px;
        .nav-link.active {
            color: nth($colours, 5);
        }

        .nav-link {
            color: nth($colours, 1);
            height: 50px;

            &:hover {
                color: hsl(233, 82%, 58%);
                background: linear-gradient(0deg, hsl(25, 82%, 58%) 0%, rgba(251,255,0,1) 100%);

            }
            &:not(:hover){
                color: nth($colours, 1);
        
                }
        }
    }

    .navbar-brand {
        color: nth($colours, 1);
        font-size: 30px;
        height: 50px;
        margin: 0;
        padding: 0 7px;
        &:hover{
            color: nth($colours, 1);
        }
        &:not(:hover){
        color: nth($colours, 1);

        }
    }
}

.bg-light{
    background-color: linear-gradient(0deg, hsl(0, 2%, 70%) 0%, white 100%) !important;
}
// .nav-item{

// }

@media only screen and (min-width: 0px) and (max-width: 991px) {

    .navbar{
        height: 50px;
    }
    .nav-link{
        margin: 0 -40px;
        text-indent: 50px;
    background-color: hsl(0, 2%, 90%) !important;

    }
}